@@font-face {
  font-family: 'Aurebesh';
  src: url('./AurekBesh-3wrL.ttf') format('truetype');
}
body {
  background-color: #333;
  color: #73c3d9;
  font-family: "PT Mono";
  font-size:1em;
  font-weight: bold;
}
style1{
  font-family: "Aurebesh";
  color: white;
  font-size:0.5em;
  text-align: left;
}
style2{
  color: white;
  font-size:1em;
  text-align: left;
}
