@@font-face {
  font-family: "aurek-besh";
  src: url(./AurekBesh-3wrL.ttf);
}
body {
  background-color: #333;
  color: #73c3d9;
  font-family: "PT Mono";
  font-size:3.5em;
  font-weight: bold;
}
h1{
  font-family: "aurek-besh";
  color: white;
  font-size:3.5em;
  text-align: left;
}
h2{
  color: white;
  font-size:3.5em;
  text-align: left;
}
