@@font-face {
  font-family: "aurek-besh";
  src: url("assets/AurekBesh-3wrL.ttf");
}
body {
  background-color: #333;
  color: #73c3d9;
  font-family: "PT Mono";
  font-size:16px;
  font-weight: bold;
}
h1{
  font-family: "aurek-besh";
  color: white;
  font-size:11px;
  text-align: left;
}
h2{
  color: white;
  font-size:14px;
  text-align: left;
}
